@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .link {
        text-decoration: none;
        color: inherit;
    }
}

body {
    font-family: "Roboto", sans-serif;
    min-width: 320px;
    min-height: 100vh;
}
